<link rel="stylesheet" href="style.css">
<div class="contant">
    <div class="left">
        
        <img src="../../assets/images/image/profile.png" alt="profile" class="profile">

        <div class="portif">
            <a href="https://www.linkedin.com/in/douglaswalas/" target="_blank">
                <img src="../../assets/images/image/linkedin-logo.svg" alt="linkedin" class="icon">
            </a>
            <a href="https://github.com/DWRP" target="_blank">
                <img src="../../assets/images/image/github-logo.svg" alt="github" class="icon">
            </a>
        </div>
        <p class="info">
            Concept do projeto:
        </p>
        <a href="https://www.figma.com/file/IbY7HXTbTa76XmwjYBRtJA/GAMACADEMY?node-id=0%3A1" target="_blank">
            <img src="../../assets/images/image/figma-logo.png" alt="figma" class="icon">
        </a>
    </div>
    <div class="right">
        <h1 class="title">
            Douglas Walas R. Pardim
        </h1>
        <div class="description">
            <p>Estudante de Ciencias da computação e viciado em conheçer técnologias novas e ferramentas úteis, mas também preocupado com questões de segurança, conheci a programação aos 14, mas só passei a praticar a mesma a partir de 2018 quando iniciei o curso técnico de informática pelo IFES. </p>
            <p>Aos 22 anos, ainda busco cada vez mais aprofundar meus conhecimentos, evoluindo e aperfeiçoando cada vez mais os meus conhecimentos de programação. </p>
        </div>
    </div>
</div>
